bg($color)
  background-color $color   
bgimg($w,$h,$img)
  display inline-block
  width $w px
  height $h px
  background url($img) no-repeat center
  background-size contain
border_bottom($color)
  &:after
    content ' '
    border-bottom 1px solid black
$c1=#339966
$c2=cyan
$c3=orange
$c4=#aee2e0
$c5=#cc33cc;
$c6=#ff83fa
$c7=  #dd8f83;
$c11=#cc6e20
$cc1=#5d9e4c;
$cc2=grey
$colors =black lightblue orange darkred #eee brown orangered lightyellow darkgreen green
